.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  padding-top: 20px;
  min-height: 100vh;
}


.App-link {
  color: #61dafb;
}

.Sections {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Section {
  min-width: 200px;
  text-align: center;
}

.Section li {
  list-style: none;
}

.SectionJSON {
  font-size: 11px;
  padding: 0 10px;
}

.SectionList {
  padding: 5px;
  display: flex;
  max-width: 250px;
  flex-wrap: wrap;
  justify-content: center;
}

.Card {
  width: 100px;
}

a {
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
